body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ganyu-img{
    width: 150px;
    position: relative;

    bottom:0px;

    animation: moveUpDown 2s linear infinite;
}

@keyframes moveUpDown{
    0%, 100%{
        bottom:0px
    }
    50%{
        bottom: -20px;
    }
}





.card{
    display: flex;
    justify-content: space-around;
    width: 400px;

    margin: 8px auto;

    padding: 20px;

    text-align: center;
    text-shadow: 2px 2px #cdb4db;

    background: #a2d2ff;
    color: #e6e6e6;

    border-bottom: 8px solid #cdb4db ;

}

.text:hover{
    text-shadow: 2px 2px #e6e6e6;
    color: #cdb4db;
}

.border-blue{
    border: 1px dotted blue;
}